/*
.ninesixzerowidth {
	width:960px;
	border:1px dotted red;
}

.restaurant_data {
	height: 200px;
}

.maincontainer {
	background: #0e0e0e;	
	height:100%;
	overflow:auto;
}

.container {
	border:4px solid #ff5500;
	overflow:auto;
	margin:5px;
	background:#5F0000;
	width:930px;
	margin:30px;
}

.container:hover {
	 -moz-box-shadow:    inset 2px 2px 10px 4px #ffffff;
   	 -webkit-box-shadow: inset 2px 2px 10px 4px #ffffff;
   	 box-shadow:         inset 2px 2px 10px 4px #ffffff;
   	 background:#272727;
}



.restdetails {
	position:relative;
	width:90%;
	height:170px;
	float:right;
	right:0px;
	
	/* background: green;
	background-color: green;* /
	
	margin:20px;
	border-radius:5px;
	/*border:1px solid orange;* /
	font-size:120%;
	color:white;
	
}


.restname {
	/*background:#0033CC;* /
	font-family:"open sans",arial,sans-serif;
	position:absolute;
	top:0px;
	right:0px;
	/*color:#FF8300;* /
	color:#555;
	float:right;
	font-size: 30px;
	font-weight:100;
}

.address_line1 {
	/*background:#0033CC;* /
	position:absolute;
	top:70px;
	right:0px;
	color:#555;
	float:right;
}

.address_line2 {
	/*background:#0033CC;* /
	position:absolute;
	top:90px;
	right:0px;
	color:#555;
	
}

.address_line3 {
	/*background:#0033CC;* /
	position:absolute;
	top:120px;
	right:0px;
	color:#555;
	
}

.businessimage {
	height:100px;
	width:100px;
	/*border:2px solid green;* /
	position:absolute;
	left:10px;
	top:110px;
		
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

.outerelement{
	position: absolute; 
	top:50%;
	vertical-align: middle; 
	margin-top: -150px
	
}

.innerelement{
	
	/*border:1px solid red;* /
	
	position: relative; 
	
}


*/



