// Place all the styles related to the wordViz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
.ninesixzerowidth {
  width:960px;
}

.restaurant_data {
  height: 200px;
}

.maincontainer {
  
  background: white;
  height:100%;
  overflow:auto;
}

.container {
  border:4px solid #ff5500;
  overflow:auto;
  margin:5px;
  background:maroon;
  /*width:930px;*/
  height:400px;
  margin:30px;
  overflow:visible;
}

.smallcontainer {
  //border:1px solid #ff5500;
  overflow:auto;
  margin:5px;
  //background:maroon;
  /*width:930px;*/
  height:130px;
  margin:10px;
  overflow:visible;

}

.container_split {
  border:4px solid #ff5500;
  overflow:auto;
  margin:5px;
  background:maroon;
  width:450px;
  
  margin:30px;
}

.leftfloat {
  float:left;
}

.rightfloat {
  float:right;
}

.container:hover {
   -moz-box-shadow:    inset 2px 2px 10px 4px #ffffff;
     -webkit-box-shadow: inset 2px 2px 10px 4px #ffffff;
     box-shadow:         inset 2px 2px 10px 4px #ffffff;
     background:#272727;
}
.container_split:hover {
   -moz-box-shadow:    inset 2px 2px 10px 4px #ffffff;
     -webkit-box-shadow: inset 2px 2px 10px 4px #ffffff;
     box-shadow:         inset 2px 2px 10px 4px #ffffff;
     background:#272727;
}
.restaurant {
    
  float:left;
  width:200px;
 /* height: 200px;
  float:left;
  background:#00ABD2;*/
  background:#ffc14e;
  margin:10px;
  /*border:1px solid yellow;*/
}

.wordcloud {
  width:300px;
  height: 300px;
  float:right;
  margin:10px;
  margin-right:30px;
}

.restdetails {
  position:relative;
  width:90%;
  height:170px;
  float:right;
  right:0px;
  
  /* background: green;
  background-color: green;*/
  
  margin:20px;
  border-radius:5px;
  /*border:1px solid orange;*/
  font-size:120%;
  color:white;
  
}


.restname {
  /*background:#0033CC;*/
  font-family:"open sans",arial,sans-serif;
  position:absolute;
  top:0px;
  right:0px;
  /*color:#FF8300;*/
  color:#555;
  float:right;
  font-size: 30px;
  font-weight:100;
}

.logo {
  /*background:#0033CC;*/
  font-family:"open sans",arial,sans-serif;
  
  /*top:0px;
  left:0px;
  color:#FF8300;*/
  color:#555;
  float:left;
  font-size: 30px;
  font-weight:200;
  margin-left:0px;
  
}

.address_line1 {
  /*background:#0033CC;*/
  position:absolute;
  top:70px;
  right:0px;
  color:#555;
  float:right;
}

.address_line2 {
  /*background:#0033CC;*/
  position:absolute;
  top:90px;
  right:0px;
  color:#555;
  
}

.address_line3 {
  //background:#ffcf76;
  background: white;
  position:absolute;
  top:25px; //it was 20 before
  right:0px;
  color:#555;
  border-radius:3px;
  
}

.businessimage {
  border:1px solid gray;
  border-radius:5px;
  padding:5px;
  height:110px;
  width:110px;
  /*border:2px solid green;*/
  position:absolute;
  left:-80px;
  top:50px;
    
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}


  
  

.p {
  
  margin-top: 20px;
  font-size: 20px;
  color: maroon
}

.bold {
  font-weight: bold; 
}

.left-pane {
  
  width: 35%; 
  float:left; 
  margin-top: 0px;
  margin-left: 0px;
  height:100%
}
  
.right-pane {
   width:64%; 
   float:right; 
   margin-top: 0px;
   margin-right: 0px;
   font-size: 15px;
   height:100% 
   //color: maroon
} 

.table {
  width: 300px !important;
  border-collapse: collapse;
  border: 1px solid #111111;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: #BBBBBB;
  }
.caption {
  text-align: left;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  }
.th {
  background: #777777
}

.td {
  border: 1px dashed #111111;
  padding: .8em;
  }
  
.outerelement{
  position: absolute; 
  top:50%;
  vertical-align: middle; 
  margin-top: -150px
  
}

.innerelement{
  
  /*border:1px solid red;*/
  
  position: relative; 
  
}


.individualreviews {
  /*border:1px solid red;*/
  margin:0px;
  height:30%; 
  /*
  background:maroon;
  background:#5f5f5f;*/
  background:orange;
  overflow:hidden;
  
}


.reviewpanel {
  display:inline-block;
  /*background:yellow;
  
  
  /*display:table-cell;*/
  /*float:left;*/
 
  border-radius:5px;
  overflow:auto;
  padding:5px;
  margin:5px;
  width:300px;
  background:#555;
  
  
  color:white;
  
  
  vertical-align:top;
  
  /*height:80%;*/
  
  
}


.popupdiv {
  z-index:1000;
  padding:20px;
  width:450px;
  border:1px solid yellow;
  background:whiteSmoke;
  border-radius:5px;
  color:#444;
}

.starpanel {
  width:40px;
  border:2px solid red;
  height:100%;
}
.resetbutton {
  height:50px;
  width:100px;
  border:1px solid white;
  border-radius:2px;
  margin-bottom: 20px;
  background: #e2e2e2;
  position:relative;
}
