    <% restaurant = @temporary %>
    
        
    <%  address = restaurant.full_address
        index = address.index("\n")
        add = restaurant.full_address
        if(index != nil && index >  0)
          add = address[0..index]
        end
        
        name = restaurant.name
        shortname = name
        
        if add.length > 38
        
          add = add[0..35] + "..."
          
          
        end
        
        if name.length > 20
        #  shortname = name[0..17] + "..."
          
        end
    
    %>    
    
       <div id='container_1' class = "smallcontainer "  style="width:300px;position:relative;">
          
                   <div id='rest'   style="height:150px;width:270px;" class='restaurant'>
                        <div id='someid'    style="height:100px;" >   
                            
                            <div   title="<%= name %>" style="width:400px;padding-top:10px;padding-left:5px;">  
                            	   <span style='font:normal 1em arial,sans-serif'><%= h(shortname).gsub(/\n/, '<br/>').html_safe %> </span>
                            </div>
                             <div style='padding:5px;'   title=" <%= address %>">  
                                	<%= add %>
                            </div>
                            <div style='padding:5px;'>  
                                 	<%= restaurant.city %>
                            </div>
                            
                            <div style='padding:5px; ' >
                              		RATING : <%= restaurant.stars %>
                            </div>
                             <div style='padding:5px; ' >
                              		<a target="_blank" href=<%= restaurant.url %>>Show in YELP</a>
                            </div>
                       </div>  
                   </div>  
      </div>
