<% content_for :javascript_includes do %>
  <%= javascript_include_tag "Test.js" %>
  
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "oldword_viz" %>
<% end %>

<html>
	
	
	
	<body>
		
		<div class="ui-layout-center">
		<!--	  <img src="/Users/shridharchandan/Documents/NewWorkspace/NewWordViz/WordViz/app/assets/images/ms.jpeg" >
			
			DO NOT CLICK THIS
		<button id="test" name="test" onclick="testClicked_error()">TEST</button> <br>
		
		POPULATE USER ONLY ONCE





  		<button id="test1" name="test1" onclick="makeFakeCallUser_error()">POPULATE USER</button><br><br>
		
		POPULATE BUSINESS ONLY ONCE
		<button id="test2" name="test2" onclick="makeFakeCallBusiness_error()">POPULATE Business</button>
         Populate Reviews
 		<button id="test3" name="test3" onclick="testClicked_error()">POPULATE Reviews</button>
		<br> Fetch data
		<button id="test4" name="test4" onclick="fetchData()">Fetch data</button>
-->
		<center>
			<div id="maincontent"   class="ninesixzerowidth maincontainer" style="height:80px;	">

					<div id="header"  class="ninesixzerowidth">
                     <img src="/assets/logo.png" alt="LOGO" />
                    </div>

				</div>
				</br>
	
			<div id="maincontent"   class="ninesixzerowidth maincontainer" style="height:50px;	">
				
						<div id="header"  class="ninesixzerowidth">
						
								<!--<select>
					  				<option value="blacksburg">Blacksburg</option>
								</select>
								   
								 <%= image_tag("virginia-tech-logo.jpg", :alt => "rss feed") %>
								 <span style='font:normal 1em arial,sans-serif  font-size: 30px;'> Showing Restaturants near  </span>-->
								<div class=logo style="vertical-align: top"> Showing Restaturants near  
								 <img src="/assets/virginia-tech-logo.jpg" alt="rss feed"  height="50px" width="100px"/>	
            	                 </div>

			</div>
				
		
			
			</div>
			</br>
			<div class="flickr_pagination" >
                <%= will_paginate @paged, :container => false %>
			</div>
				
			<!--<%= will_paginate @paged %>--> 

			
			<%= render 'restaurant2' %>
			
			<div class="flickr_pagination">
                <%= will_paginate @paged, :container => false %>
			</div>
			 
		
		
		</center>
		
		
		
	</div>
		
	    
		
		
		
		
		 
				
	</body>
</html>