<% content_for :javascript_includes do %>
  <%= javascript_include_tag "Test.js" %>
  
<% end %>


<html>
	
	
	
	<body >
		
		<div class="ui-layout-center">
		<!--	  <img src="/Users/shridharchandan/Documents/NewWorkspace/NewWordViz/WordViz/app/assets/images/ms.jpeg" >
			
			DO NOT CLICK THIS
		<button id="test" name="test" onclick="testClicked_error()">TEST</button> <br>
		
		POPULATE USER ONLY ONCE





  		<button id="test1" name="test1" onclick="makeFakeCallUser_error()">POPULATE USER</button><br><br>
		
		POPULATE BUSINESS ONLY ONCE
		<button id="test2" name="test2" onclick="makeFakeCallBusiness_error()">POPULATE Business</button>
         Populate Reviews
 		<button id="test3" name="test3" onclick="testClicked_error()">POPULATE Reviews</button>
		<br> Fetch data
		<button id="test4" name="test4" onclick="fetchData()">Fetch data</button>
-->
		<center>
			<div id="logocontent"   class="ninesixzerowidth maincontainer" style="height:80px;	">

					<div id="header"  class="ninesixzerowidth">
                     <img src="/assets/logo.png" alt="LOGO" />
                    </div>

				</div>
				</br>
	
			<div  id="maincontent"   class="ninesixzerowidth maincontainer" 
				  style="height:90px;	" >
				
						<div id="header"  >
						
								<div class="logo" style="vertical-align: top;"> Showing Restaturants near  
									 <img src="/assets/virginia-tech-logo.jpg" alt="rss feed"  height="50px" width="100px"/>	
            	                 </div>

						</div>
						
						<div id="trigger"  
							style="height:40px;border:1px solid maroon;background:maroon;
				  			color:white;width:200px;margin-bottom: 20px;padding:10px;border-radius: 10px;
				  			float:right;margin-right:100px;"
				   
							onclick="showrestaurantspopup()">
								<font size="5">
									Pick a restaurant  &#x25BC;
								</font> 
				
						</div>
						<div style="clear:both;"></div>

			</div>
			
			
			
			<% i =0 %>
			
						
			<div id="dropbown"   class="ninesixzerowidth " 
			style="background:orange;max-height:500px;width:540px;	overflow:scroll;visibility:hidden;height:0px;
				   ">
				<!--position:absolute;top:200px;right:200px;z-index: 2 -->
					<div align="right" id="combo_<%=i%>a" 	style="background:orange;border:1px solid maroon;width:500px;height:20px;
						overflow:hidden;width: 100%;color:maroon;margin:6px;padding:2px;">
						
							<div  style="width:200px;float:left;">
								Specialities
								
							</div>
							
							<div align="left" style="width:200px;float:right;align:left;overflow:hidden;color:maroon;">
								Restaurant Name
							</div>
						</div>
					
					<% 
					for w in @wordcloud
	        
				        word_counts = w.word_count
				        keys = word_counts.keys
				        
				        key1 = keys[0]
				        key2 = keys[1]
				        key3 = keys[2]
				        
			        %>
				        
				        <div align="right" id="combo___<%=w.business_id%>" 	
				        	style="background:maroon;border:1px solid maroon;width:500px;height:20px;overflow:hidden;color:orange;margin:6px;padding:2px;"
				        	onclick="showreviewspage('<%=w.business_id%>')">
						
							<div id="specialities" style="width:200px;float:left;" ">
								
								<% specialities = key1 +", " + key2 +", "+ key3 
									if specialities.length > 20
										specialities = specialities[0..17] + "..."
									end
														
								
								%>
								
								<%=specialities%>
								
								
							</div>
							
							<div align="left" style="width:200px;float:right;align:left;overflow:hidden;color:orange;" >
								<% rest_name = w.name 
									if rest_name.length > 20
										rest_name = rest_name[0..17] + "..."
									end
														
								
								%>
								
								
								<%=rest_name%>
							</div>
						</div>
				    
				   <%end%>
    
				
				
				
			</div>
			<!-- ><div class="flickr_pagination" >
                <%= will_paginate @paged, :container => false %>
			</div> -->
				
			<!--<%= will_paginate @paged %>--> 
			
			<center>
				<div id="xxx" style=";width:1000px;">
					<%= render 'restaurant' %>
					
					<div style="clear:both;"></div>
				</div>
				
			</center>
			
			<div class="flickr_pagination">
                <%= will_paginate @paged, :container => false %>
			</div>
			 
		
		
		</center>
		
		
		
	</div>
		
	    
		
		
		
		
		 
				
	</body>
</html>